<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nutritionclub">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AccountActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AccountActivity.MainActivity" />
        <activity android:name=".AccountActivity.SignupActivity" />
        <activity android:name=".AccountActivity.ResetPasswordActivity" />
        <activity
            android:name=".AccountActivity.CalculateFatActivity"
            android:label="@string/title_activity_calculate_fat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AccountActivity.BodyCompositionActivity" />
        <activity android:name=".AccountActivity.PersonalDetailsActivity" />
        <activity android:name=".AccountActivity.ShowPersonalActivity" />
        <activity android:name=".AccountActivity.ShowAllUserActivity" />
        <activity android:name=".AccountActivity.DietDiaryActivity" />
        <activity android:name=".AccountActivity.ActivityBoardActivity" />
        <activity android:name=".AccountActivity.CustomerLogActivity" />
        <activity android:name=".AccountActivity.AnalysisActivity" />
        <activity android:name=".AccountActivity.ShowDetailActivity" />
        <activity android:name=".AccountActivity.ShowAllBodyActivity"></activity>
    </application>

</manifest>